
:root {
    --main-color: #224e7f;
}
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact {
    width: 700px;
    margin: 0 auto;
}

.h1contact {
    font-size: 40px;
    margin: 0;
}
.backgroundcontact {
    background-color: var(--main-color);
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 50px;
}

.h2contact {
    text-align: center;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-between;
    flex-direction: column;
}
.lignecontact {
    width: 200px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: var(--main-color);
    height: 1px;
}
.parentinfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px;
}
.enfantinfo {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
}
.enfantinfo2 {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    align-items: center;
}
.enfantinfo2 img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: 20px;
}
.iconcontact {
    width: 50px;
}
a {
    text-decoration: none;
}

.parentformulaire {
    border: 1.5px solid var(--main-color);
    border-radius:10px;
    padding: 10px;
}
.enfantformulaire {
    margin: 0px auto;
    padding: 30px;
    gap: 5px;
    display: grid;
    align-items: center;
}
.formeligne {
    display: grid;
    grid-template-columns: 150px 2fr;
}
.formeligne input {
    width: 200px;
}
.formeligne2 input {
    width: 100%;
}

.contactenfant2 {
    margin: 0px auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 150px;
}

input {
    outline: none;
    border: 1.5px solid #224e7f;
    border-radius: 15px;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.contactmessage {
    height: 100px;
    text-align: left;
    vertical-align: top;
    padding: 5px;
    outline: none;
    border: 1.5px solid #224e7f;
    border-radius: 15px;
    margin-left: 15px;
}
iframe {
    margin: 30px auto;
    display: flex;
}
a {
    color: black;
}
label {
    width: 200px;
}
select {
    outline: none;
    border: 1.5px solid #224e7f;
    border-radius: 15px;
    padding: 10px;
    margin-left: 10px;
    width: 400px;
}
button {
    margin: 30px auto;
    display: flex;
}
.main-button {
  align-self: flex-start;
  text-decoration: none;
  border: 1px solid var(--main-color);
  background: var(--main-color);
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}